body {
  background-color: rgb(239, 239, 240);
  margin: 0;
  padding: 0;
  position: relative;
}

footer {
  position: absolute;
}

a,
a:active,
a:visited,
a:link,
a:hover {
  text-decoration: none !important;
}

.rem1 {
  font-size: 1.0rem;
}

.rem15 {
  font-size: 1.5rem;
}

.font-normal {
  font-size: 18px;
}

.font-large {
  font-size: 25px;
}

/* navbar */
.nav-menu:first-child {
  margin-left: 1.0rem;
}

.top-nav {
  background-image: linear-gradient(to right, rgb(173, 218, 248), rgb(149, 195, 238), rgb(240, 187, 231));
}

.contact {
  display: block;
  color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem 0.5rem;
}

.banner-image {
  background: url('../images/banner.jpg') no-repeat;
  background-size: 100% 100%;
  height: 80px;
  width: 100%;
  display: none;
}

/* middle-area */
.middle-area {
  margin-top: 1.0rem;
}

/* aboutus */
.card-last-child {
  margin-bottom: 1.0rem !important;
}

.card-pattern {
  margin-top: 1.0rem;
}

.card-text {
  font-size: 1.1rem;
}

.disclaimer {
  padding: 0.2rem;
}

/* left-column */
.list {
  width: 200px;
  margin-top: 50px;
  margin-left: 50px;
}

.list-group-item {
  font-family: 'Arial';
  font-size: 20px;
  line-height: 20px;
}

/* middle-column */
.middle-info {
  height: 50px;
  margin-top: -20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 35px;
  color: rgb(118, 73, 223);
}

.others {
  height: 40px;
  text-align: center;
  font-family: 'Arial';
  font-size: 20px;
  color: #369;
  border-bottom: 3px #369 dotted;
}

/* table */
.table-header,
.table-item {
  text-align: center;
}

.add,
.delete,
.update {
  padding: 0.75rem 0 !important;
  text-align: right;
}

.exec {
  padding: 0.75rem 0 !important;
  text-align: center;
}

.pagination {
  /*margin-left: 35% !important;*/
  justify-content: center;
}

/* footer */
.footer {
  margin-top: 30px;
}

/* project_info */
.project_name,
.project_doi,
.project_desc {
  display: flex;
}

.proj_title {
  font: normal 1.2rem;
  line-height: 20px;
  margin: 7px;
  color: #3490dc;
}

.proj_detail,
.proj_desc {
  font-size: 1.2rem;
  line-height: 20px;
  margin: 7px 0px;
  width: 70%;
  word-break: break-all;
  word-wrap: break-word;
}

.project_desc_hidden {
  font-size: 1.2rem;
  line-height: 20px;
  margin: 7px 0px;
  width: 70%;
  word-break: break-all;
  word-wrap: break-word;
  display: none;
}

/* labs_create */
.choose_insti,
.choose_lab,
.selectInstitution,
.selectLab,
.add_insti {
  margin-bottom: 10px;
}

.input_title {
  font-size: 14px;
  font-family: "Arial";
}

/* workspace-nav */
.workspace-menu {
  margin-top: -2.5rem;
}

.user-image {
  display: block;
  width: 8.0rem;
  height: 7.0rem;
  margin: 0 auto;
}

.finger_to_left {
  display: inline-block;
  width: 1.0rem;
  height: 1.0rem;
}

.user-name {
  text-align: center;
  font-size: 1.5rem;
  color: #f40;
  margin-bottom: 1.5rem;
}

/* tips */
.tips {
  color: #ef470f;
  font-size: 1.0rem;
}

/* execute params setting */
.no-display {
  display: none;
}

.console-header {
  font-size: 1.5rem;
}

/* Running Sample dot flash */
.dot {
  display: inline-block;
  width: 1.5em;
  vertical-align: bottom;
  overflow: hidden;
  animation: dot 3s infinite step-start;
}

@keyframes dot {
  0% {
    width: 0;
    margin-right: 1.5em;
  }

  33% {
    width: .5em;
    margin-right: 1em;
  }

  66% {
    width: 1em;
    margin-right: .5em;
  }

  100% {
    width: 1.5em;
    margin-right: 0;
  }
}

.command_out,
.proj_command_out {
  height: 800px;
}

.menu {
  width: 240px;
  height: 420px;
  border-radius: 3px;
  opacity: 0.958;
}

.menu :last-child {
  margin-bottom: 0;
}

.download_result {
  height: 80px;
  width: 80px;
}

.proj_title {
  width: 100px;
}

#iframe_browser {
  width: 100%;
  height: 100%;
  background: #ddd;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-bottom: 2px solid #ccc;
  box-shadow: 2px 3px 4px rgba(51, 51, 51, 0.2);
}

#iframe_browser_header {
  height: 30px;
  padding: 7px 5px;
}

#iframe_browser_title {
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  color: #666;
  margin: 1px 10px;
  vertical-align: top;
  padding-left: 10px;
}

#kraken_tabs,
#blob_tabs,
#preseq_tabs,
#arg_tabs,
#bowtie_tabs {
  font-size: 12px;
  margin: -9px 0 0;
  list-style-type: none;
  line-height: 32px;
  max-height: 32px;
  overflow: hidden;
  display: inline-block;
  padding: 0 20px;
}

#kraken_tabs li.active,
#kraken_tabs li:active,
#blob_tabs li.active,
#blob_tabs li:active,
#preseq_tabs li.active,
#preseq_tabs li:active,
#arg_tabs li.active,
#arg_tabs li:active,
#bowtie_tabs li:active,
#bowtie_tabs li.active {
  z-index: 2;
  background: #efefef;
}

#kraken_tabs li:hover,
#kraken_tabs li:focus,
#blob_tabs li:hover,
#blob_tabs li:focus,
#preseq_tabs li:hover,
#preseq_tabs li:focus,
#arg_tabs li:hover,
#arg_tabs li:focus,
#bowtie_tabs li:hover,
#bowtie_tabs li:focus {
  background: #eee;
}

#kraken_tabs li,
#blob_tabs li,
#preseq_tabs li,
#arg_tabs li,
#bowtie_tabs li {
  float: right;
  margin: 5px -10px 0;
  border-top-right-radius: 35px 140px;
  border-top-left-radius: 20px 40px;
  padding: 0 33px 0 19px;
  height: 140px;
  background: #ddd;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
  -webkit-transition: background-color 0.1s;
  transition: background-color 0.1s;
}

#kraken_tabs li a,
#blob_tabs li a,
#preseq_tabs li a,
#arg_tabs li a,
#bowtie_tabs li a {
  display: inline-block;
  max-width: 100%;
  text-decoration: none;
  color: #222;
}

.list-switch,
.list-switch li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-switch a {
  display: block;
  padding: 10px 5px;
  margin: 0;
  border-bottom: 1px solid #fff;
  background-image: linear-gradient(to right, rgb(173, 218, 248), rgb(149, 195, 238), rgb(240, 187, 231));
  color: #000;
  text-decoration: none;
  position: relative;
  height: 42px;
  box-shadow: 2px 3px 4px rgba(149, 195, 238);
  -webkit-transition: background 0.1s;
  transition: background 0.1s;
}

.list-switch a .label {
  margin-right: 10px;
}

.list-switch li:first-child a {
  border-top: 1px solid #292929;
}

.list-switch a:hover,
.list-switch a:active,
.list-switch a:focus {
  background-color: #555;
}

.list-switch.left a {
  margin-left: 15px;
}

.list-switch a.active:before {
  content: "";
  display: block;
  border: 21px solid transparent;
  position: absolute;
  top: 50%;
  margin-top: -21px;
  -webkit-transition: border 0.1s;
  transition: border 0.1s;
}

.list-switch.left a.active:before {
  border-right-color: rgb(173, 218, 248);
  left: -42px;
}

.list-switch.left a:hover:before,
.list-switch.left a:active:before,
.list-switch.left a:focus:before {
  border-right-color: rgb(173, 218, 248);
}

.project_title a {
  color: #3564d1;
}

.project_title a:hover,
.project_title a:active {
  color: #985735;
}

.captcha-error {
  width: 100%;
  font-size: 80%;
  color: #ef5753;
}

#preseq_report {
  height: 600px;
}
