a:hover,
a:visited,
a:link {
  text-decoration: none;
}

/* navbar */
.nav-labs,
.nav-proj {
  margin-left: 1.0rem;
}

.top-nav {
  background-image: linear-gradient(to right, rgb(173, 218, 248), rgb(149, 195, 238), rgb(240, 187, 231));
}

.contact {
  display: block;
  color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem 0.5rem;
}

.banner-image {
  background: url('../image/banner.jpg') no-repeat;
  background-size: 100% 100%;
  height: 80px;
  width: 100%;
  display: none;
}

/* middle-area */
.middle-area {
  margin-top: 20px;
}

/* aboutus lab-image */
.lab-image {
  background: url('../image/Contact_us.jpg') no-repeat;
  background-size: 100% 100%;
  height: 200px;
  width: 100%;
}

/* aboutus */
.aboutus-title {
  margin: 20px 0 10px 0;
  padding-top: 10px;
  font-size: 16px;
  font-family: 'Arial';
  border-top: 1px solid #ebebeb;
}

.aboutus-content {
  line-height: 25px;
  font-size: 14px;
  font-family: '微软雅黑';
}

/* left-column */
.list {
  width: 200px;
  margin-top: 50px;
  margin-left: 50px;
}

.list-group-item {
  font-family: 'Arial';
  font-size: 20px;
  line-height: 20px;
}

/* middle-column */
.middle-info {
  height: 50px;
  margin-top: -20px;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 35px;
  color: #369;
}

.others {
  height: 40px;
  text-align: center;
  font-family: 'Arial';
  font-size: 20px;
  color: #369;
  border-bottom: 3px #369 dotted;
}

.result-detail {
  margin-top: 10px;
}

/* table */
.table-header,
.table-item {
  text-align: center;
}

td:nth-last-child(2) {
  padding-right: 0;
  text-align: right;
}

th:last-child,
td:last-child {
  padding: 0.75rem 0;
  text-align: right;
}

.pagination {
  justify-content: center !important;
}

/* footer */
.footer {
  margin-top: 30px;
}

/* project_info */
.project_name,
.project_doi,
.project_desc {
  display: flex;
}

.proj_title {
  font: normal 15px "Arial";
  line-height: 20px;
  margin: 7px;
  color: #3490dc;
}

.proj_detail,
.proj_desc {
  font-size: 15px;
  line-height: 20px;
  margin: 7px 0px;
  width: 70%;
  word-break: break-all;
  word-wrap: break-word;
}

.project_desc_hidden {
  font-size: 15px;
  line-height: 20px;
  margin: 7px 0px;
  width: 70%;
  word-break: break-all;
  word-wrap: break-word;
  display: none;
}

/* labs_create */
.choose_insti,
.choose_lab,
.selectInstitution,
.selectLab,
.add_insti {
  margin-bottom: 10px;
}

.input_title {
  font-size: 14px;
  font-family: "Arial";
}
